#error{
    color:red;
    text-align: center;
}
#checked{
    color:green;
    text-align: center;
}
.invalido {
    border-color: red;
}
.invalido::before{
    content: "Error";
}
.normal {
    border-color: black;
}